# Ignore everything
*
# Allow directories
!*/
# Allow files with an extension
!*.*
# Don't commit build
build
# Don't include mac specific folder
._.DS_Store
.DS_Store
*.csv
# Don't include data files
*.dat
# Don't include MAC auto files
._*
